
@{
    ViewBag.Title = "Standard List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-11" style="margin-top:-20px">
    <h2>Section List</h2>
</div>
<div class="col-md-1">
    <button type="button" class="btn btn-primary">ADD</button>
</div>
<table id="t01">
    <thead>
        <tr>
            <th style="text-align:center;">Section</th>
            <th style="text-align:center;">Standard Name</th>
            <th style="text-align:center;">Select</th>
        </tr>
    </thead>

    @foreach (var item in ViewBag.getChapterList)
    {
        <tr style="text-align:center;">
            <td>@item.StandardId</td>
            <td>@item.Description</td>

            <td>
                <a href='@Url.Action("SubjectList", "Question", new { SubjectId = @item.StandardId})'>
                    <input type="submit" value='Select' />
                </a>
            </td>
        </tr>
    }

</table>
<link href="~/Content/DevCSS/tableAllign.css" rel="stylesheet" />



