@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<h2>Sriram</h2>

<address>
    257/45 - Anna Nagar<br />
    First Cross Street, Medavakkam<br />
    Chennai - 600025<br />
    <abbr title="Phone">P:</abbr>
    90909-05858
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sskrishnanmca@outlook.com">sskrishnanmca@outlook.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:support@sk.com">support@sk.com</a>
</address>